{% extends 'base.html.twig' %}

{% block title %}<title>Virement</title>{% endblock %}

{% block content %}
<style>
    /* Container for the form */
    .form-container {
        /* Increase the max-width to make the container wider */
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        position: relative; /* Set position relative to the container */
    }

    /* Styles for form fields */
    .form-field {
        margin-bottom: 20px;
    }

    .form-label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    /* Style for the button */
    .btn {
        background-color: #007bff; /* Blue background */
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    /* Hover effect */
    .btn:hover {
        background-color: #0056b3; /* Darker blue on hover */
    }
</style>

<div class="form-container">

    <h1>Virement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ virement.id }}</td>
            </tr>
            <tr>
                <th>Compte_source</th>
                <td>{{ virement.compteSource }}</td>
            </tr>
            <tr>
                <th>Compte_distination</th>
                <td>{{ virement.compteDestination }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ virement.montant }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ virement.date ? virement.date|date('Y-m-d')}}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ virement.heure ? virement.heure|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_virement_index') }}" class="btn btn-primary" style="width: 150px; display: block; margin: 0 auto;">Back to List</a>

    <a href="{{ path('app_virement_edit', {'id': virement.id}) }}" class="btn btn-primary" style="position: absolute; bottom: 20px; right: 20px;">Edit</a>

    {{ include('virement/_delete_form.html.twig') }}

    <a href="{{ path('app_virement_show_pdf', {'id': virement.id}) }}" class="btn btn-primary">Download PDF</a>
</div>
{% endblock %}
