{% extends 'backbase.html.twig' %}
{% block content %}
    <h1 style="color: #333; text-align: center;">Modify the cheque</h1>
    <div style="max-width: 500px; margin: 0 auto;">
        {{ form_start(cheque, {'attr': {'class': 'my-form','novalidate': 'novalidate'}}) }}
        <div style="margin-bottom: 20px;">
            {{ form_widget(cheque.montantC, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Enter montantC'}}) }}
        </div>
          {{ form_errors(cheque.montantC) }} 
        <div style="margin-bottom: 20px;">
            {{ form_widget(cheque.destinationC , {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Enter destinationC'}}) }}
        </div>

         <div style="margin-bottom: 20px;">
            {{ form_widget(cheque.compteID, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Enter destinationC'}}) }}
        </div>

        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary btn-lg">Modify</button>
        </div>
        {{ form_end(cheque) }}
    </div>
{% endblock %}
