{% extends 'backbase.html.twig' %}

{% block title %}<title>CompteClient index</title>{% endblock %}

{% block content %}
<style>
			/* Styles for the button */
			.button {
				display: inline-block;
				background-color: #4CAF50; /* Green background */
				color: white;
				padding: 10px 20px;
				text-align: center;
				text-decoration: none;
				border: none;
				border-radius: 5px;
				cursor: pointer;
				transition: background-color 0.3s;
			}

			/* Hover effect */
			.button:hover {
				background-color: #45a049; /* Darker green */
			}
			/* Styles for the buttons */
			.button2 {
				display: inline-block;
				background-color: #007bff; /* Blue background */
				color: white;
				padding: 6px 12px; /* Adjust padding to make the buttons smaller */
				text-align: center;
				text-decoration: none;
				border: none;
				border-radius: 3px;
				cursor: pointer;
				transition: background-color 0.3s;
				margin-right: 5px; /* Add some margin between the buttons */
			}

			/* Hover effect */
			.button2:hover {
				background-color: #0056b3; /* Darker blue on hover */
			}
		</style>
<div>
    <h1>CompteClient</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Rib</th>
                <th>Mail</th>
                <th>Tel</th>
                <th>Solde</th>
                <th>Type</th>
                <th>Pack</th>
                <th>actions</th>
                
            </tr>
        </thead>
        <tbody>
        {% for compte_client in compte_clients %}
            <tr>
                <td>{{ compte_client.id }}</td>
                <td>{{ compte_client.nom }}</td>
                <td>{{ compte_client.prenom }}</td>
                <td>{{ compte_client.rib }}</td>
                <td>{{ compte_client.mail }}</td>
                <td>{{ compte_client.tel }}</td>
                <td>{{ compte_client.solde }}</td>
                <td>
                    {% if compte_client.getNomType() is not null %}
                    {{ compte_client.getNomType().NomType }}
                    {% endif %}
                </td>
                <td>
                    {% if compte_client.getNomPack() is not null %}
                    {{ compte_client.getNomPack().NomPack }}
                    {% endif %}
                </td>

                <td>
                    <a href="{{ path('app_compte_client_show', {'id': compte_client.id}) }}" class="button2">show</a>
                    <a href="{{ path('app_compte_client_edit', {'id': compte_client.id}) }}" class="button2">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_compte_client_new') }}"class="button">Create new</a>
    </div>
{% endblock %}
